* {-webkit-font-smoothing: antialiased;}

body {
  min-width: 1150px;
  font-family: "Open Sans";
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 $small-padding;
  @include display(flex);
}

@media only screen and (max-width: 500px) {
  video {
    display: none;
  }
}