.services-section {
  background-image: url(../img/services-bg.jpg);
  background-size: cover;
  padding: 95px 0 0;

  .container {
    @include display(block);

    h2 {
      font-family: Helvetica;
      font-weight: bold;
      font-size: 42px;
      color: #151515;
      text-align: center;
      margin-bottom: 20px;
    }

    h5 {
      font-family: Helvetica;
      font-size: 16px;
      color: #272727;
      text-align: center;
      margin-bottom: 45px;
    }

    ul {
      @include display(flex);
      @include justify-content(center);
      @include flex-wrap(wrap);
      margin-bottom: 50px;

      li {
        text-align: center;
        font-family: Helvetica;
        font-size: 16px;
        color: #2c2c2c;
        margin-bottom: 50px;
        width: 25%;

        & > div {
          height: 66px;
          width: 66px;
          text-align: center;
          line-height: 66px;
          border-radius: 40px;
          border: 3px solid rgba(255,255,255,0.4);
          overflow: hidden;
          margin: 0 auto 5px;

          div {
            height: 100%;
            width: 100%;
            background-color: #e68618;
            @include display(flex);
            @include align-items(center);
            @include justify-content(space-around);
          }
        }
      }
    }
  }

  .contact-block {
    background-color: rgba(29,61,92,0.6);
    padding: 25px 0;

    .container {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(center);

      & > div {
        font-family: Helvetica;
        font-size: 28px;
        color: #ffffff;
        @include display(flex);
        @include align-items(center);

        img {
          margin-right: 10px;
        }

        a {
          color: #fff;
          font-size: 18px;

          &:hover {
            opacity: 0.8;
          }
        }

        &.address {
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }
}