.top-info-section {
  position: relative;
  height: 710px;
  overflow: hidden;

  .top-info-container {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    height: 100%;

    header {
      padding: 10px 0;

      .container {
        @include justify-content(space-between);
        @include align-items(center);

        .logo {
          img {
            max-width: 170px;
          }
        }

        .phone-numbers {
          font-family: Helvetica;
          font-size: 24px;
          text-transform: uppercase;
          color: #ccdae7;

          img {
            margin: 0 8px;
          }

          span {
            color: #fff;
          }
        }
      }
    }

    .welcome-block {
      text-align: center;

      h1 {
        font-size: 42px;
        color: #fff;
        font-weight: bold;
      }

      div {
        width: 520px;
        font-size: 16px;
        color: #fff;
        line-height: 1.5;
        margin: 20px auto;
        font-family: 'Helvetica';
      }
    }

    .advantages {
      padding: $small-padding;
      background-color: rgba(32,32,32,0.4);

      .container {
        > div {
          color: #fff;
          @include display(flex);
          @include align-items(flex-start);

          &:nth-of-type(1) {
            width: 30%;
            padding-right: 5%;
          }

          &:nth-of-type(2) {
            width: 65%;
          }

          img {
            margin-right: 20px;
            @include flex(0 0 auto);
          }

          div {
            h4 {
              font-size: 26px;
            }

            div {
              font-family: Helvetica;
              font-size: 14px;
              line-height: 1.4;
              color: #c7d7e6;
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    min-width: 1260px;
    background-image: url(../img/video-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}