.usage-section {
  padding: $big-padding 0;

  .container {
    @include justify-content(space-around);
    @include align-items(center);


    .buildings-block {
      width: 50%;
      text-align: center;

      img {
        max-width: 100%;
      }
    }

    .samples {
      > div {
        @include display(flex);
        @include align-items(center);
        width: 500px;

        &:first-of-type {
          margin-bottom: 60px;
        }

        .img-container {
          width: 190px;
          text-align: center;
          @include flex(0 0 auto);
        }

        & > div {
          font-family: Helvetica;

          h4 {
            font-size: 28px;
            margin-bottom: 5px;
          }

          div {
            font-size: 16px;
            line-height: 1.6;
            color: #6b6b6b;
          }
        }
      }
    }
  }
}